<div class="{{class}}">
    <div class="container">
        <div class="lay">
            <div class="header">
                <div class="controls text-center">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            {{prev}}
                        </div>
                        <div class="text-nowrap">
                            {{header}}
                        </div>
                        <div>
                            {{next}}
                        </div>
                    </div>
                </div>
                <div class="days days--week">
                    {{columns}}
                </div>
            </div>
            <div class="days days--month">
                {{rows}}
            </div>
        </div>
    </div>
</div>