.container {
    display: flex;
    line-height: 32px;
}

.days {
    display: grid;
    grid-template-columns:repeat(8, 1fr);
    box-sizing: border-box;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    text-decoration: none;
    border-radius: 8px;
    color: rgb(74, 74, 74);
}

.days--month .day:hover {
    background-color: #f0f0f0;
}

.day--prev-month{
    opacity: 0.4;
}

.days--month .day.day--selected,
.days--month .day.day--selected:hover{
    background-color: #0d6efd;
    color: #fff;
}